{% extends 'base.html' %}

{% block title %} {% trans %}App{% endtrans %} | {{ super() }} {% endblock title %}

{% block main %}
<section class="app-banner">
 <div class="container">
  <ol class="breadcrumb remove-background">
    <li><a class="white-text-color" href="{{ SITE_ROOT }}index.html">{% trans %}Home{% endtrans %}</a>
    </li>
    <li class="white-text-color">{% trans %}Apps{% endtrans %}</li>
  </ol>
  <div class="text-center section-space">
    <h1 class="white-text-color">{% trans %}CONSOLIDATE YOUR DATA{% endtrans %}<br>{% trans %}AND THE ENTIRE BUSINESS PROCESSES{% endtrans %}
    </h1>
    <div class="col-sm-12 col-xs-12" >
      <div class="col-sm-2 col-xs-4 col-xs-offset-4 col-sm-offset-5 app-banner-divider">
      </div>
    </div>
      <p class="white-text-color">{% trans %}Tryton is a unified suite of applications that provides a 'single interface' for your business information, increasing accuracy, for faster and smarter decision making.{% endtrans %}
      </p>
  </div>
 </div>
</section>
<section class="app-detail section-space">
  <div class="container">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="col-xs-12 col-sm-4 col-md-4 app">
        <img src="{{ STATIC }}images/apps-ecommerce.png" class="img-responsive content-center-xs" alt="ecommerce">
        <h4 class="text-center text-muted app-heading"><a href="{{ SITE_ROOT }}ecommerce.html">{% trans %}eCommerce{% endtrans %}</a></h4>
        <h5 class="text-center text-muted">{% trans %}Design your webstore with ease{% endtrans %}</h5>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 app">
        <img src="{{ STATIC }}images/apps-accounts.png" class="img-responsive content-center-xs" alt="accounts" />
        <h4 class="text-center text-muted app-heading"><a href="{{ SITE_ROOT }}accounts.html">{% trans %}Accounts{% endtrans %}</a></h4>
        <h5 class="text-center text-muted">{% trans %}Automates complex accounting processes{% endtrans %}</h5>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 app">
        <img src="{{ STATIC }}images/app/apps-inventory.png" class="img-responsive content-center-xs" alt="inventory" />
        <h4 class="text-center text-muted app-heading"><a href="{{ SITE_ROOT }}inventory.html">{% trans %}Inventory{% endtrans %}</a></h4>
        <h5 class="text-center text-muted">{% trans %}Manage and monitor your inventory levels{% endtrans %}
        </h5>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 app">
        <img src="{{ STATIC }}images/apps-crm.png" class="img-responsive content-center-xs" alt="crm" />
        <h4 class="text-center text-muted app-heading"><a href="{{ SITE_ROOT }}crm.html">{% trans %}CRM{% endtrans %}</a></h4>
        <h5 class="text-center text-muted">{% trans %}Convert more Leads into customers{% endtrans %}</h5>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 app">
        <img src="{{ STATIC }}images/app/apps-purchase.png" class="img-responsive content-center-xs" alt="purchase" />
        <h4 class="text-center text-muted app-heading"><a href="{{ SITE_ROOT }}purchase.html">{% trans %}Purchase{% endtrans %}</a></h4>
        <h5 class="text-center text-muted">{% trans %}Complete control of your purchasing{% endtrans %}</h5>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 app">
        <img src="{{ STATIC }}images/app/apps-orders.png" class="img-responsive content-center-xs" alt="orders" />
        <h4 class="text-center text-muted app-heading"><a href="{{ SITE_ROOT }}orders.html">{% trans %}Orders{% endtrans %}</a></h4>
        <h5 class="text-center text-muted">{% trans %}Process you orders faster and efficiently{% endtrans %}</h5>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 app">
        <img src="{{ STATIC }}images/apps-projects.png" class="img-responsive content-center-xs" alt="projects" />
        <h4 class="text-center text-muted app-heading"><a href="{{ SITE_ROOT }}projects.html">{% trans %}Projects{% endtrans %}</a></h4>
        <h5 class="text-center text-muted">{% trans %}Organize, track and get work done{% endtrans %}</h5>
      </div>
    </div>
  </div>
</section>
{% endblock main %}