{% set SITE_ROOT = '../' %}
{% extends 'index.html' %}

{% block title %} {{ article.title }} | {{ super() }} {% endblock title %}

{% block heading %}
  <h1 class="white-text-color app-banner-heading heading">{{ article.title }}</h1>
{% endblock heading %}
{% block breadcrumb %}
  <li class="color-black">
    <a class="color-black" href="{{ SITE_ROOT }}blogs/index.html">{% trans %}Blog{% endtrans %}</a>
  </li>
  <li class="color-black">{{ article.title }}</li>
{% endblock breadcrumb %}
{% block content %}
<section class="section-space">
  <div class="container">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="col-xs-12 col-sm-12">
        {% if article.bannerimage  %}
          <div class="row">
            <div class="col-md-8">
              <div class="img-frame">
                <img class="img-responsive" src="{{ SITE_ROOT }}{{ article.bannerimage }}" alt="{{ article.title }}">
              </div>
            </div>
          </div>
        {% endif %}
        <br>
        <br>
        <h2 class="margin-0">{{article.title}}</h2>
        <img src="{{ STATIC }}images/article/calendar-icon.jpg" alt="calender"></img> 
        {{ article.date|strftime('%a') }}, 
        {{ article.date|strftime('%B') }} 
        {{ article.date|strftime('%d') }}, 
        {{ article.date|strftime('%Y') }} 
        {% if article.author %}
        <span class="post-by"><a href="{{ SITEURL }}/{{ article.author.url }}">{{article.author }}</a></span>
        {% endif %}
        <span class="post-event"><a class="post-category" href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></span>
        <p>{{ article.summary }}</p>
        <p>{{ article.content }}</p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}