{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% for keyword in article.keywords %}
    <meta name="keywords" contents="{{keyword}}" />
  {% endfor %}

  {% for description in article.description %}
    <meta name="description" contents="{{description}}" />
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" contents="{{tag}}" />
  {% endfor %}

{% endblock %}


{% block content %}
<section class="landing-hero">
  <div class="centered">
    <h1>{{ article.title }}</h1>
    <p class="lead">{{ article.subtitle }}</p>
    <a href="#info">
      <span class="arrow"></span>
    </a>
  </div>
</section>

{% if article.summary != article.content %}
<section class="info section" id="info">
  <h1>What is it?</h1>
  <div class="constrain">
    <p class="lead">
      {{ article.summary }}
    </p>
  </div>
</section>
{% endif %}

<section class="info section" id="info">
  <div class="constrain">
    <p class="lead">
      {{ article.content }}
    </p>
  </div>
</section>
{% endblock content %}
