<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}

        <!-- All style sheets -->
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/default.css" />
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/component.css" />
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/app.css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/vendor/semantic.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.0/animate.min.css">         
        <!-- END: All style sheets -->

        {% endblock head %}
</head>
<body>
  <div class="container">
    <div class="main">
      <nav id="cbp-hrmenu" class="cbp-hrmenu fadeIn animated">
        <ul>
          <li>
            <a href="#" class="tryton__logo">Tryton</a>
            <div class="cbp-hrsub">
              <div class="cbp-hrsub-inner">
                <div>
                  <div class="ui grid two columns">
                    <div class="row">
                      <div class="column">
                        <h2>Welcome to Tryton!</h2>
                        <p class="lead">Hello and welcome to the online portal of Tryton. Just entering some text here and yada yada yada.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="ui grid two columns">
                    <div class="row">
                      <div class="column">
                        <h2>Help</h2>
                        <p class="lead">
                          <ul>
                            <li><a href="#">Documentation</a>
                            </li>
                            <li><a href="#">Development</a>
                            </li>
                            <li><a href="#">Customer Support</a>
                            </li>
                          </ul>
                        </p>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <!-- /cbp-hrsub-inner -->
            </div>
          </li>
          {% for cat, articles in categories %}
          <li>
            <a href="#">{{ cat }}</a>
            <div class="cbp-hrsub">
              <div class="cbp-hrsub-inner">
                {% for article in articles %}
                <div>
                  <a href="{{ SITEURL }}/{{ article.url }}">
                    <h4><i class="fa {{ article.icon }}"></i> {{ article.title }}</h4>
                  </a>
                  <ul>
                    <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.subtitle }}</a>
                    </li>
                  </ul>
                </div>
                {% endfor %}
              </div>
              <!-- /cbp-hrsub-inner -->
            </div>
            <!-- /cbp-hrsub -->
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
  
  {% block content %}

  {% endblock content %}


  {% block footer %}
  <footer>
    <div class="container">
      <div class="ui grid four center aligned columns no-margin">
        <div class="row">
          <div class="column">
            <h1>Lets get social</h1>
            <div class="links">
              <a href="https://twitter.com/trytonusa"><i class="fa fa-twitter"></i></a>
              <a href="https://plus.google.com/communities/111064602356347307346"><i class="fa fa-google-plus"></i></a>
              <a href="https://github.com/tryton/tryton"><i class="fa fa-github"></i></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <p class="lead">Everything &copy; OpenLabs Pvt. Ltd 2014-2015</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  {% endblock footer %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="{{ SITEURL }}/theme/js/vendor/modernizr.custom.js"></script>
  <script src="{{ SITEURL }}/theme/js/cbp-horizontal-menu.js"></script>
  <script>
  $(function() {
    cbpHorizontalMenu.init();
  });
  </script>

  <script>
  $(function() {
    $('a[href*=#]:not([href=#])').click(function() {
      if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
        if (target.length) {
          $('html,body').animate({
            scrollTop: target.offset().top
          }, 1000);
          return false;
        }
      }
    });
  });
  </script>

  <script src="https://cdn.jsdelivr.net/headroomjs/0.5.0/jQuery.headroom.min.js"></script>
  <script src="https://cdn.jsdelivr.net/headroomjs/0.5.0/headroom.min.js"></script>
  <script>
  $("#cbp-hrmenu").headroom();
  $(".cbp-hrsub").headroom();
  </script>
</body>
</html>
