<!DOCTYPE html>
{% set SITE_ROOT = SITE_ROOT or './' %}
{% set STATIC = SITE_ROOT + relpath_to_site(DEFAULT_LANG, main_lang) + '/theme/' %}
<html lang="en-us">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{% trans %}Tryton - World's Most Stable Open Source ERP System{% endtrans %}{% endblock title %}</title>

  <!-- Package CSS -->  
  <link href="{{ STATIC }}bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ STATIC }}bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ STATIC }}bower_components/nanoscroller/bin/css/nanoscroller.css">
  <!-- Custom CSS -->
  <link href="{{ STATIC }}css/style.css" rel="stylesheet">
  <link href="{{ STATIC }}css/responsive-layouts.css" rel="stylesheet">
</head>
<body>
  <!-- main navigation -->
  {% block nav_bar %}
  <div class="navbar navbar-default navbar-fixed-top nav-resize" role="navigation">
    <div class="padding-auto-0 container-fluid">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header navbarHeaderReset">
          <button type="button" class="navbar-toggle collapsed nav-button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="logo margin-left-0" href="{{ SITE_ROOT }}index.html"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="main-menu"><a href="{{ SITE_ROOT }}foundation.html">{% trans %}Foundation{% endtrans %}</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{% trans %}Features{% endtrans %}</a>
              <ul class="dropdown-menu dropdown-position">
                <li><a href="{{ SITE_ROOT }}features.html" class="text-uppercase">{% trans %}Overview{% endtrans %}</a></li>
                <li><a href="{{ SITE_ROOT }}features.html#api" class="text-uppercase scroll">API</a></li>
                <li><a href="{{ SITE_ROOT }}features.html#custom" class="text-uppercase scroll">{% trans %}Customizable{% endtrans %}</a></li>
                <li><a href="{{ SITE_ROOT }}features.html#fast" class="text-uppercase scroll">{% trans %}Fast{% endtrans %}</a></li>
                <li><a href="{{ SITE_ROOT }}features.html#modular" class="text-uppercase scroll">{% trans %}Modular{% endtrans %}</a></li>
                <li><a href="{{ SITE_ROOT }}features.html#opensource" class="text-uppercase scroll">{% trans %}OpenSource{% endtrans %}</a></li>
                <li><a href="{{ SITE_ROOT }}features.html#scale" class="text-uppercase scroll">{% trans %}Scalable{% endtrans %}</a></li>
                <li><a href="{{ SITE_ROOT }}features.html#secure" class="text-uppercase scroll">{% trans %}Secure{% endtrans %}</a></li>
                <li><a href="{{ SITE_ROOT }}features.html#stable" class="text-uppercase scroll">{% trans %}Stable{% endtrans %}</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="{{ SITE_ROOT }}app.html" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{% trans %}Apps{% endtrans %}</a>
              <ul class="dropdown-menu dropdown-position">
                <li><a href="{{ SITE_ROOT }}app.html" class="text-uppercase">{% trans %}Overview{% endtrans %}</a></li>
                <li><a href="{{ SITE_ROOT }}ecommerce.html" class="text-uppercase">{% trans %}ECommerce{% endtrans %}</a>
                </li>
                <li><a href="{{ SITE_ROOT }}accounts.html" class="text-uppercase">{% trans %}Accounts{% endtrans %}</a>
                </li>
                <li><a href="{{ SITE_ROOT }}inventory.html" class="text-uppercase">{% trans %}Inventory{% endtrans %}</a>
                </li>
                <li><a href="{{ SITE_ROOT }}crm.html" class="text-uppercase">CRM</a>
                </li>
                <li><a href="{{ SITE_ROOT }}purchase.html" class="text-uppercase">{% trans %}Purchase{% endtrans %}</a>
                </li>
                <li><a href="{{ SITE_ROOT }}orders.html" class="text-uppercase">{% trans %}Orders{% endtrans %}</a>
                </li>
                <li><a href="{{ SITE_ROOT }}projects.html" class="text-uppercase">{% trans %}Projects{% endtrans %}</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="{{ SITE_ROOT }}community.html" class="text-uppercase">{% trans %}Community{% endtrans %}</a>
            </li>
            <li class="main-menu"><a href="{{ SITE_ROOT }}blogs/index.html">{% trans %}Blog{% endtrans %}</a></li>
            <li class="main-menu"><a href="{{ SITE_ROOT }}download.html">{% trans %}Download{% endtrans %}</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </div><!-- /.container-fluid -->
  </div>
  {% endblock %}

  <!-- main content -->
  {% block main %}{% endblock main %}

  <!-- footer -->
  {% block footer %}
  {% block request_demo %}
  <section class="know-more">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12 know-more-content">
          <h3 class="white-text-color text-center">{% trans %}Tryton is a free and open source business solution.{% endtrans %}</h3>
          <h4 class="white-text-color text-center">{% trans %}Download now and get started with it right away.{% endtrans %}</h4>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 text-center">
          <div class="line-img pull-left hidden-sm hidden-xs"></div>
          <a class="btn btn-default section-button" href="{{ SITE_ROOT }}download.html"><i class="fa fa-download fa-lg"></i>&nbsp; &nbsp;{% trans %}Download Tryton 3.4{% endtrans %}</a>
          <br>
          <a href="{{ SITE_ROOT }}blogs/new-tryton-release-34.html" class="white-text-color"><u>What's new in latest release</u></a>
        </div>
      </div>
    </div>
  </section>
  {% endblock request_demo %}
  <div class="clearfix"></div>
  <section class="footer">
    <div class="container">
      <div class="row footer-divider">
        <div class="col-md-4 col-sm-6 col-xs-12 text-center footer-set-height">
          <br>
          <h4 class="white-text-color heading">{% trans %}About Us{% endtrans %}</h4>
          <ul class="list-unstyled">
            <li class="white-text-color">{% trans %}Tryton is an open source business software that helps businesses streamlines thier business processes. It is supported by the Tryton Software Foundation, which aim to protect, promote and develop Tryton functionalities. This website is a private initiative and not intended to replace or communicate on behalf of the Tryton community.{% endtrans %} 
            </li>
          </ul>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-4 col-sm-6 text-center col-xs-12 footer-set-height border-left">
              <i class="fa fa-search-plus footer-heading"></i>
              <h4 class="white-text-color heading">{% trans %}Explore{% endtrans %}</h4>
              <ul class="list-unstyled">
                <li><a href="http://doc.tryton.org/3.4/" class="white-text-color common-link">{% trans %}Getting Started with Tryton{% endtrans %}</a></li>
                <li><a href="{{ SITE_ROOT }}foundation.html" class="white-text-color common-link">{% trans %}Tryton Software Foundation{% endtrans %}</a></li>
                <li><a href="{{ SITE_ROOT }}features.html" class="white-text-color common-link">{% trans %}About Tryton{% endtrans %}</a></li>
                <li><a href="http://wiki.tryton.org/" class="white-text-color common-link">{% trans %}Tryton Wiki{% endtrans %}</a></li>
                <li><a href="{{ SITE_ROOT }}donate.html" class="white-text-color common-link">{% trans %}Donate{% endtrans %}</a></li>
              </ul>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 text-center footer-set-height border-left">
              <i class="fa fa-bullhorn footer-heading"></i>
              <br>
              <h4 class="white-text-color heading">{% trans %}Need Help?{% endtrans %}</h4>
              <ul class="list-unstyled">
                <li class="grid-spaces"><a href="{{ SITE_ROOT }}community.html#mailing-list" class="white-text-color common-link">{% trans %}Check out the mailing list{% endtrans %}</a></li>
                <li class="white-text-color">{% trans %}For an instant support{% endtrans %}<br><a href="irc://irc.freenode.net/tryton" target="_blank" class="btn btn-sm btn-default white-text-color background-transparent">{% trans %}Join IRC{% endtrans %}</a></li>
              </ul>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 text-center footer-set-height border-left">
              <i class="fa fa-paper-plane-o footer-heading"></i>
              <br>
              <h4 class="white-text-color heading">{% trans %}Stay Updated{% endtrans %}</h4>
              <ul class="list-unstyled">
                <li class="white-text-color grid-spaces">
                  {% trans %}Keep up with latest <br>
                  <a href="http://groups.tryton.org/" class="white-text-color common-link">foundation news{% endtrans %}</a>
                </li>
                <li>
                  <a href="{{ SITE_ROOT }}blogs/index.html" class="btn btn-sm btn-default white-text-color background-transparent">{% trans %}What's New{% endtrans %}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center white-text-color">
        Tryton Fondation Privée Rue de Rotterdam, 4 4000 Liège Belgium <br>
        <a href="mailto:foundation@tryton.org" target="_blank" class="white-text-color common-link heading"><i class="fa fa-envelope"></i>&nbsp;&nbsp;foundation@tryton.org</a>
      </div>
      <br>
      <br>
      <div class="col-sm-6 text-center-xs white-text-color">
        <p class="heading social-box">{% trans %}Tryton is a registered trademark of the Tryton Foundation.{% endtrans %}</p>
      </div>
      <div class="col-sm-6 text-right white-text-color text-center-xs">
         <a href="https://plus.google.com/u/0/communities/111064602356347307346">
          <i class="fa fa-google-plus social-icons social-box"></i>
        </a>
        <a href="https://twitter.com/#tryton">
          <i class="fa fa-twitter social-icons social-icons social-box"></i>
        </a>
        <a href="https://github.com/tryton/tryton">
          <i class="fa fa-github social-icons social-box"></i>
        </a>
        <a href="http://stackoverflow.com/questions/tagged/tryton" class="common-color mailing-list">
          <i class="fa fa-stack-overflow social-icons social-box"></i>
        </a>
      </div>
    </div>
    <br>
  </section>
  <div class="copyright">
    <div class="container">
      <div class="col-md-12 text-center">
        <p class="white-text-color">{% trans %}Made with <i class="fa fa-heart text-red animateHeart"></i> by <strong><a href="https://www.openlabs.co.in" class="white-text-color common-link">Team OPENLABS{% endtrans %}</a></strong></p>
      </div>
    </div>
  </div>

{% endblock footer %}

{% block script_imports %}
  <script src="{{ STATIC }}bower_components/jquery/dist/jquery.min.js"></script>
  <script src="{{ STATIC }}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="{{ STATIC }}bower_components/nanoscroller/bin/javascripts/jquery.nanoscroller.js"></script>
{% endblock script_imports %}

{% block scripts %}
  <script>
    $(document).ready(function(){
      $(".scroll").click(function(){
      $("html,body").animate({scrollTop:$(this.hash).offset().top-105},2000);
      });
      $( ".nano" ).mouseover(function(){
        $(".nano").nanoScroller();
      });
    });
  </script>
{% endblock scripts %}
</body>
</html>
