{% extends 'base.html' %}
{% block main %}
{% block pagetitle %}
<section class="app-banner">
  <div class="container">
    <div class="mar-top-150"></div>
    <div class="text-center">
      <h1 class="white-text-color"><strong>{% trans %}Blogs{% endtrans %}</strong>
      </h1>
      <div class="col-sm-12 col-xs-12" >
        <div class="col-sm-2 col-xs-4 col-xs-offset-4 col-sm-offset-5 app-banner-divider">
        </div>
      </div>
      <div>
        <p class="white-text-color">{% trans %}Blogs{% endtrans %}
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock pagetitle %}
<div class="mar_top5 clearfix"></div>
<section>
  {% for article in articles_page.object_list %}
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <h3>
        <a href="{{ SITEURL }}/{{ article.url }}" class="text-muted">
          <strong>{{ article.title }} </strong>
        </a>
      </h3>
      <h5 class="margin-0 text-primary">
        <img src="{{ STATIC }}images/blogs/calendar-icon.jpg" height="32" width="32"></img> {{ article.date|strftime('%a') }}, 
        {{ article.date|strftime('%B') }} 
        {{ article.date|strftime('%d') }}, 
        20{{ article.date|strftime('%y') }} 
        {% for tag in article.tags %}
        <a class="post-category" href="{{ SITEURL }}/{{ tag.url }}">
          <span class="badge">{{ tag }}</span>
        </a>
        {% endfor %}
      </h5>
      {% if article.bannerimage  %}
      <div class="img-frame mar_top2">
        <a href="{{ SITEURL }}/{{ article.url }}"> 
          <img class="img-responsive" src="{{ article.bannerimage }}" alt="{{ article.title }}">
        </a>
      </div>
      {% endif %}
      <p>{{ article.summary }}</p>
      <hr>
    </div>
  </div>
  {% endfor %}
  {% include 'pagination.html' %}
</section>
<div class="mar_top7 clearfix"></div>
{% endblock main %}