{% set SITE_ROOT = SITE_ROOT or '../' %}
{% extends 'base.html' %}
{% block title %} Blog | {{ super() }} {% endblock title %}
{% block main %}
<section class="app-banner">
  <div class="container">
    <div class="text-center section-space">
      {% block heading %}
      <h1 class="white-text-color app-banner-heading heading">{% trans %}Blog{% endtrans %}</h1>
      <p class="white-text-color">{% trans %}A place for latest Tryton news and announcing cool features{% endtrans %}
      </p>
      {% endblock heading %}
    </div>
  </div>
</section>
<section>
  <div class="container">
    <ol class="breadcrumb breadcrumb-background">
      <li>
        <a class="color-black" href="{{ SITE_ROOT }}index.html">{% trans %}Home{% endtrans %}</a>
      </li>
      {% block breadcrumb %}
      <li class="color-black">{% trans %}Blog{% endtrans %}</li>
      {% endblock breadcrumb %}
    </ol>
  </div>
</section>
{% block content %}
<section class="blog-section">
  {% for article in articles_page.object_list %}
  <div class="container">
    <div class="col-md-9">
      <h2 class="heading banner-title">
        <a href="{{ SITE_ROOT }}{{ article.url }}" class="common-link color-black">
          {{ article.title }}
        </a>
      </h2>
      <img src="{{ STATIC }}images/article/calendar-icon.png" alt="calender"> {{ article.date|strftime('%a') }}, 
      {{ article.date|strftime('%B') }} 
      {{ article.date|strftime('%d') }}, 
      {{ article.date|strftime('%Y') }} 
      {% for tag in article.tags %}
      <a class="post-category" href="{{ SITE_ROOT }}{{ tag.url }}">
        <span class="badge">{{ tag }}</span>
      </a>
      {% endfor %}
      <br>
      {% if article.bannerimage  %}
      <br>
      <div class="row">
        <div class="col-md-8">
          <div class="img-frame">
            <a href="{{ SITE_ROOT }}{{ article.url }}"> 
              <img class="img-responsive" src="{{ SITE_ROOT }}{{ article.bannerimage }}" alt="{{ article.title }}">
            </a>
          </div>
        </div>
      </div>
      {% endif %}

      <div class="blog-content">
        <p>{{ article.summary }}</p>
      </div>
      <hr>
    </div>
  </div>
  {% endfor %}
  {% include 'pagination.html' %}
</section>
{% endblock content %}
{% endblock main %}