{% extends 'base.html' %}

{% block title %} {% trans %}Community{% endtrans %} | {{ super() }} {% endblock title %}

{% block main %}
<section class="app-banner">
  <div class="container">
    <ol class="breadcrumb remove-background">
      <li><a class="white-text-color" href="{{ SITE_ROOT }}index.html"> {% trans %}Home{% endtrans %}</a></li>
      <li class="white-text-color">{% trans %}Paper & Presentation{% endtrans %}</li>
    </ol>
    <div class="text-center section-space">
      <h1 class="white-text-color"><strong> {% trans %}Paper & Presentation{% endtrans %}</strong>
      </h1>
      <div class="col-sm-12 col-xs-12" >
        <div class="col-sm-2 col-xs-4 col-xs-offset-4 col-sm-offset-5 app-banner-divider">
        </div>
      </div>
      <div>
        <p class="white-text-color"> {% trans %}Paper & Presentation{% endtrans %}
        </p>
      </div>
    </div>
  </div>
</section>
<section class="section-space">
  <div class="container">
    <h2 class="heading">{% trans %}Presentations &amp; Papers{% endtrans %}</h2>
      <h3>Presentations: TUB2013</h3>
      <ul>
        <li>
          <a href="//downloads.tryton.org/TUB2013/no_localization/">{% trans %}Why you should not do localization modules?{% endtrans %}</a>, <em>Cédric Krier</em>,
          <a href="http://videos.tryton.org/tub2013/WhyYouShouldNotDoLocalizationModules.html">{% trans %}Video{% endtrans %}</a>
          (<a href="http://videos.tryton.org/tub2013/WhyYouShouldNotDoLocalizationModules_small.html">{% trans %}small size{% endtrans %}</a>)
        </li>
        <li>
          <a href="//downloads.tryton.org/TUB2013/release_module/">{% trans %}How to release module{% endtrans %}</a>,
          <em>Cédric Krier</em>,
          <a href="http://videos.tryton.org/tub2013/HowToReleaseModule.html">{% trans %}Video{% endtrans %}</a>
          (<a href="http://videos.tryton.org/tub2013/HowToReleaseModule_small.html">{% trans %}small size{% endtrans %}</a>)
        </li>
        <li>
          <a href="//downloads.tryton.org/TUB2013/TeleTryton_for_dumbs.pdf">TéléTryton</a>,
          <em>Dominique Chabord</em>
        </li>
        <li>
          <a href="//downloads.tryton.org/TUB2013/cooperatives-and-free-software.pdf">{% trans %}Cooperatives and Free Software, Our experience with Tryton{% endtrans %}</a>,
          <em>Pablo Vannini</em>,
          <a href="http://videos.tryton.org/tub2013/CooperativesAndFreeSoftware_OurExperienceWithTryton.html">{% trans %}Video{% endtrans %}</a>
          (<a href="http://videos.tryton.org/tub2013/CooperativesAndFreeSoftware_OurExperienceWithTryton_small.html">{% trans %}small size{% endtrans %}</a>)
        </li>
        <li>
          <a href="//downloads.tryton.org/TUB2013/pos.pdf">{% trans %}Point of Sale{% endtrans %}</a>, <em>Jordi Esteve</em>,
            <a href="http://videos.tryton.org/tub2013/TrytonPointOfSale.html">{% trans %}Video{% endtrans %}</a>
            (<a href="http://videos.tryton.org/tub2013/TrytonPointOfSale_small.html">{% trans %}small size{% endtrans %}</a>)
        </li>
        <li>
            <a  href="//downloads.tryton.org/TUB2013/proteus.pdf">{% trans %}A newbie introduction to proteus{% endtrans %}</a>, <em>Nicolas Évrard</em>,
            <a href="http://videos.tryton.org/tub2013/aNewbieIntroductionToProteus.html">{% trans %}Video{% endtrans %}</a>
            (<a href="http://videos.tryton.org/tub2013/aNewbieIntroductionToProteus_small.html">{% trans %}small size{% endtrans %}</a>)
        </li>
        <li>
            <a href="//downloads.tryton.org/TUB2013/tryton-and-insurance.odp">{% trans %}Tryton and Insurance{% endtrans %}</a>, <em>Jean Cavallo</em>,
            <a href="http://videos.tryton.org/tub2013/TrytonAndInsuranceCoopengo.html">{% trans %}Video{% endtrans %}</a>
            (<a href="http://videos.tryton.org/tub2013/TrytonAndInsuranceCoopengo_small.html">{% trans %}small size{% endtrans %}</a>
        </li>
        <li>
            <a href="//downloads.tryton.org/TUB2013/tryton-from-user-perspective.odp">{% trans %}Tryton from a User-Perspective{% endtrans %}</a>,
            <em>Axel Braun</em>,
            <a href="http://videos.tryton.org/tub2013/TrytonFromAUserPerspective.html">{% trans %}Video{% endtrans %}</a>
            (<a href="http://videos.tryton.org/tub2013/TrytonFromAUserPerspective_small.html">{% trans %}small size{% endtrans %}</a>)
        </li>
        <li>
           <a href="//downloads.tryton.org/TUB2013/tryton-user-doc.pdf">{% trans %}Tryton User Documentation{% endtrans %}</a>,
           <em>Guillem Barba Domingo</em>,
           <a href="http://videos.tryton.org/tub2013/TrytonUserDocumentation.html">{% trans %}Video{% endtrans %}</a>
           (<a href="http://videos.tryton.org/tub2013/TrytonUserDocumentation_small.html">{% trans %}small size{% endtrans %}</a>)
        </li>
        <li>
           <a  href="//downloads.tryton.org/TUB2013/gnu-health.pdf">{% trans %}GNU Health: Current status and next steps{% endtrans %}</a>, <em>Luis Falcón</em>,
           <a href="http://videos.tryton.org/tub2013/GNUHealth_CurrentStatus_NextSteps.html">{% trans %}Video{% endtrans %}</a>
          (<a href="http://videos.tryton.org/tub2013/GNUHealth_CurrentStatus_NextSteps_small.html">{% trans %}small size{% endtrans %}</a>)
        </li>
        <li>{% trans %}Business Intelligence: Presentation of BABI,{% endtrans %}<em>Albert Cervera i Areny</em>,
           <a href="http://videos.tryton.org/tub2013/BABI.html">{% trans %}Video{% endtrans %}</a>
          (<a href="http://videos.tryton.org/tub2013/BABI_small.html">{% trans %}small size{% endtrans %}</a>)
        </li>
        <li>{% trans %}Showcase Of SAO,{% endtrans %} <em>Cédric Krier</em>,
          <a href="http://videos.tryton.org/tub2013/ShowcaseOfSAO.html">Video</a>
          (<a href="http://videos.tryton.org/tub2013/ShowcaseOfSAO_small.html">small size</a>)
        </li>
        <li>{% trans %}SAO patch from NaN,{% endtrans %} <em>Guillem Barba Domingo</em>,
          <a href="http://videos.tryton.org/tub2013/SAO_NaN.html">Video</a>
          (<a href="http://videos.tryton.org/tub2013/SAO_NaN_small.html">small size</a>)
        </li>
        <li>{% trans %}Roundtable About The Future Development,{% endtrans %}
          <a href="http://videos.tryton.org/tub2013/merged/9_RoundtableAboutTheFutureDevelopment.ogg">{% trans %}Audio{% endtrans %}</a>
        </li>
        <li>{% trans %}iOS client,{% endtrans %} <em>Sharoon Thomas</em>,
            <a href="http://videos.tryton.org/tub2013/iOS_client.html">Video</a>
            (<a href="http://videos.tryton.org/tub2013/iOS_client_small.html">small size</a>)
        </li>
        <li>Nereid Workshop, <em>Sharoon Thomas</em>,
            <a href="http://videos.tryton.org/tub2013/NereidWorkshop.html">Video</a>
            (<a href="http://videos.tryton.org/tub2013/NereidWorkshop_small.html">small size</a>)
        </li>
        <li>{% trans %}Working In Distributed Environments, Synchronizing Instances And Models,{% endtrans %} 
            <em>Sebastián Marró</em>,
            <a href="http://videos.tryton.org/tub2013/WorkingInDistributedEnvironments_SynchronizingInstancesAndModels.html">Video</a>
            (<a href="http://videos.tryton.org/tub2013/WorkingInDistributedEnvironments_SynchronizingInstancesAndModels_small.html">{% trans %}small size{% endtrans %}</a>)
        </li>
        <li>{% trans %}Tryton Private Foundation Treasury,{% endtrans %} 
            <a href="http://videos.tryton.org/tub2013/TrytonPrivateFoundationTreasury.html">{% trans %}Video{% endtrans %}</a>
            (<a href="http://videos.tryton.org/tub2013/TrytonPrivateFoundationTreasury_small.html">{% trans %}small size{% endtrans %}</a>)
        </li>
        <li>{% trans %}Workshop summaries: BABI,{% endtrans %} <em>Albert Cervera i Areny</em>,
            <a href="http://videos.tryton.org/tub2013/WorkshopSummaryBABI.html">{% trans %}Video{% endtrans %}</a>
            (<a href="http://videos.tryton.org/tub2013/WorkshopSummaryBABI_small.html">{% trans %}small size{% endtrans %}</a>)
        </li>
        <li>{% trans %}Workshop summaries: Tryton Documentation,{% endtrans %} <em>Sharoon Thomas</em>,
           <a href="http://videos.tryton.org/tub2013/WorkshopSummaryTrytonDocumentation.html">Video</a>
          (<a href="http://videos.tryton.org/tub2013/WorkshopSummaryTrytonDocumentation_small.html">{% trans %}small size{% endtrans %}</a>)
        </li>
        <li>Tryton Magento,
          <a href="http://videos.tryton.org/tub2013/TrytonMagento.html">Video</a>
          (<a  href="http://videos.tryton.org/tub2013/TrytonMagento_small.html">small size</a>)
        </li>
        <li>{% trans %}Nereid Extra Features,{% endtrans %} <em>Sharoon Thomas</em>,
          <a  href="http://videos.tryton.org/tub2013/NereidExtraFeatures.html">Video</a>
          (<a  href="http://videos.tryton.org/tub2013/NereidExtraFeatures_small.html">small size</a>)
        </li>
      </ul>
      <h3>{% trans %}Presentations: TUL2012{% endtrans %}</h3>
      <ul>
        <li>
          <a href="//downloads.tryton.org/TUL2012/what_s_new/">{% trans %}What's new?{% endtrans %}</a>, <em>Cédric Krier</em>
        </li>
        <li>
          <a href="//downloads.tryton.org/TUL2012/domains_states_safe_eval/">Domains, states and safe-eval</a>,
          <em>Bertrand Chenal</em>
        </li>
        <li>
          <a href="//downloads.tryton.org/TUL2012/GNU_Health_status.pdf">{% trans %}GNU Health status{% endtrans %}</a>,
          <em>Sebastián Marró</em>
        </li>
        <li>
          <a href="//downloads.tryton.org/TUL2012/python3/python3.html">{% trans %}Python3 port: why and how far are we?{% endtrans %}</a>, <em>Nicolas Évrard</em>
        </li>
        <li>
          <a  href="//downloads.tryton.org/TUL2012/GSoC%20-%20Calendar%20View.pdf">{% trans %}GSoC - calendar view for Tryton{% endtrans %}</a>,
          <em>Antoine Smolders</em>
        </li>
        <li>
          <a href="//downloads.tryton.org/TUL2012/what_next/">{% trans %}What next?{% endtrans %}</a>, <em>Cédric Krier</em>
        </li>
      </ul>
      <h3>{% trans %}Presentations: TUL2011{% endtrans %}</h3>
      <ul>
        <li>
          <a href="//downloads.tryton.org/TUL2011/Tryton_vs_OpenERP/">{% trans %}Tryton vs OpenERP{% endtrans %}</a>,
          <em>Cédric Krier</em>
        </li>
        <li>
          <a href="//downloads.tryton.org/TUL2011/GNUHealth/text0.html">{% trans %}GNU Health over Tryton{% endtrans %}</a>, <em>Sebastián Marró</em>
        </li>
        <li>
          <a href="//downloads.tryton.org/TUL2011/mercurial.pdf">{% trans %}Mercurial Introduction{% endtrans %}</a>,
          <em>Nicolas Évrard</em>
        </li>
      </ul>
      <h3>{% trans %}Presentations: PyCONFR 2010{% endtrans %}</h3>
      <ul>
        <li>
          <a href="//downloads.tryton.org/PyCONFR2010/slides.pdf">Tryton</a>,
          <em>Cédric Krier, Bertrand Chenal</em>
        </li>
      </ul>
      <h3>{% trans %}Presentations: EUROPYTHON 2010{% endtrans %}</h3>
      <ul>
        <li>
          <a href="//downloads.tryton.org/europython2010/presentation.tar.gz">{% trans %}What is Tryton?{% endtrans %}</a>,
          <em>Sharoon Thomas</em>
        </li>
      </ul>
  </div>
</section>
{% endblock main %}