@media only screen and (max-width: 768px) {
  .navbar-default .navbar-collapse{
    border-color: #e7e7e7;
    background: #e7e7e7;
  }
  .padding-auto-0 {
    padding-left: 0;
    padding-right: 0; 
  }
  .nav-button {
    margin-top: 18px;
  }
  .text-center-xs {
    text-align: center;
  }
  .rounded-icon {
    /*csslint important:false */
    margin:auto;
    float: none !important;
  }
  .knowMoreSection button{
    margin-bottom: 25px;
  }
  .content-center-xs {
    margin:auto;
  }
  .navbar-nav li ul {
    top: 7px;
    left:103px;
  }
  .footer-set-height{
    min-height: inherit;
  }
  .border-left-right{
    border-left: 0;
    border-right: 0;
  }
  .nav > li > .selection-tab {
  padding: 6px;
  }
  .download-banner {
    min-height: 320px;
   }
  .social-desc {
    padding-top: 10px;
  }
  .border-left {
    border-top: 1px dotted #69747a;
    border-left: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .text-center-sm{
    text-align: center;
  }
  .no-wrap{
    white-space: nowrap;
  }
  .border-left-right{
    border-left: 0;
    border-right: 0;
  }
  .social-desc {
    padding-top: 10px;
  }
  .border-left {
    border-left: 0;
  }
}