/* Navbar css starts */
body { 
  padding-top: 70px;
  color: #1D1D1D;
}

a:hover {
  text-decoration: none;
}

.logo {
  display: block;
  max-width: 168px;
  height: 31px;
  margin-top: 18px;
  background: url(../images/logo.png) no-repeat;
  min-width: 113px;
}

.tryton-conf-banner {
  background:linear-gradient(to top, rgba(0, 0, 0, .5), 
    rgba(0, 0, 0, 0)), 
  url(../images/banner/tryton-conf.jpg) no-repeat;
}

.banner {
  background-size: cover;
  background-position: center;
  min-height: 600px;
}
.business-banner {
  background:linear-gradient(to top, rgba(0, 0, 0, .5), 
    rgba(0, 0, 0, 0)), 
  url(../images/banner/complete-business.jpg) no-repeat;
  background-position: top;
}

.community-banner2 {
  background:linear-gradient(to top, rgba(0, 0, 0, .5), 
    rgba(0, 0, 0, 0)), 
  url(../images/banner/community.jpg) no-repeat;
  background-position: center;
}

.community-banner {
  background:linear-gradient(to top, rgba(0, 0, 0, .5), 
    rgba(0, 0, 0, 0)), 
  url(../images/banner/community-1.jpg) no-repeat;
  background-position: center;
}

.all-in-one-banner {
  background:linear-gradient(to top, rgba(0, 0, 0, .5), 
    rgba(0, 0, 0, 0)),
  url(../images/banner/all-in-one.jpg) no-repeat;
  background-position: center;
}

.nav-resize {
  min-height: 70px;
  margin-bottom: 0;
  opacity: 0.98;
  font-weight: 400;
  background-color: #fff;
}

.navbar-nav > li > a {
  line-height: 40px;
  text-decoration: none;
  font-size: 13px;
  color: #3d3d48;
  font-weight: 400;
  text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a:hover {
  color:#1ac6ff; 
}

.navbar-right .dropdown-position {
  top: 69px;
  right:0;
  left:0;
}

.navbar-right li ul li a {
  font-weight: normal;
  margin: 0;
  border: none;
  display: block;
  padding: 4px 9px 9px 17px;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  color: #454545;
  background: #fff;
  text-align: left;
  border-bottom: 1px solid #f6f6f6;
}

/* Navbar css ends */

/* basic_info css starts */

.section-space {
  padding: 75px 0;
  
}

.heading {
  font-weight: 200;
}

.section-space p {
  margin-top: 10px;
  line-height: 22px;
  font-weight: 200;
}
/* basicinfo css ends */


/* characteristics css starts */

.characteristics-heading {
  color: #1ac6ff;
  font-size: 18px;
  text-transform: uppercase;
}

.rounded-icon {
  width: 56px;
  height: 56px;
  background-color: #1ac6ff;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  line-height: 56px;
  border-radius: 100%;
  margin-right: 20px;
}

.tab-heading {
  display: inline-block;
}

.rounded-icon i {
  top: 7px;
  position: relative;
  font-size: 33px;
}

.border-left-right {
  border-left: 1px solid #ddd;
  border-right:1px solid #ddd;
}


.padding-0 {
  padding: 0;
}

.margin-0 {
  margin: 0;
}

/* characteristics css ends */

/* app css starts */

.app img {
  margin: auto;
  height: 60px;
}

.app {
  margin-bottom: 35px;
} 

.map-container {
  height:256px;
 }
/* app section css ends */

/* history section css start */

.history {
  background: linear-gradient(to top, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../images/tryton-community.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
}

.job-info img {
  height: 75px;
}

.nav-pills > li.active > .selection-tab, 
.nav-pills > li.active > .selection-tab:hover, 
.nav-pills > li.active> .selection-tab:focus {
  background-color: white;
  color:black;
}

/* history section css ends */

/* know-more css starts */

.know-more {
  background: #1ac6ff ;
  width: 100%;
  padding: 20px 0;
}

.know-more button {
  margin-top: 32px;
  background: #1ac6ff
}

.know-more button:hover {
  background-color: #1ac6ff;
  color:#fff;
  border-color:#ccc;
}

.line-img {
  background:url(../images/h-line.png) no-repeat left top;
  width: 6%;
  margin-right: 16px;
  min-height: 119px; 
}

/* know-more css ends */

/* footer css starts */

.footer {
  width: 100%;
  background-color: #3d3d48;
  color: #999;
  padding-top:60px; 
}
.copyright {
  background-color: #3d3d48;
}

.footer-set-height {
  min-height:266px;
}

.footer .list-unstyled {
  line-height: 2;
  font-weight: 200;
}

.text-red {
  color: #e74c3c;
}

.content-licensed {
  padding: 18px 0 18px 0;
  margin: 0;
  color: #999;
  background-color: #fff;
}

.white-text-color {
  color:#fff;
}

.carousel-inner .carousel-color-none {
  background-image: none;
}

/* footer css ends */

/* app.html css starts */

.app-banner {
  min-height: 580px;
  background:url(../images/app/temp-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  padding: 45px 0;
  position:relative; 
}

.banner-heading {
  font-size:40px;
}

.app-banner-heading::after {
  content:"";
  width :25%;   
  border-bottom:2px solid #fff;
  display:block;
  margin:30px auto;
}

.app-banner p {
  font-size: 20px;
  line-height: 25px;
}

.breadcrumb-background {
  background-color: transparent;
  padding-top: 20px;
}

 .section-button:hover {
  background-color:#1ac6ff;
  color:white;
  border-color:#1ac6ff; 
}

.app a {
  color:#1D1D1D;
}

.app a:hover {
  color:#1ac6ff;
}


.app-detail .app-heading {
  color:#1D1D1D;
  font-size: 24px;
  font-weight: 200;
}

.orders-img {
  height: 200px;
}
/*app css end */

/*blog css starts */

.blog-heading {
  background-color:#3398d4; 
  padding: 28px 0;
}

.img-frame {
  border:7px solid #fff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
}


.blog-date {
  background-color:#FFFFFF; 
  margin-right: 15px;
}

.blog-month {
  background-color:#2C9AB7; 
  color:#fff;
  font-weight:bold; 
  padding:6px; 
  text-align:center;
}

.blog-time {
  color:#2C9AB7;
  font-weight:bold; 
  line-height:100%; 
  padding-top:8px; 
  padding-bottom:8px; 
  text-align:center;
  background:linear-gradient(to top,rgba(21, 3,0,0.1),rgba(16, 18, 16, 0.3));
}

.post-by {
  background:url(../images/article/icon-by-user.png) no-repeat 0 5px;
  padding: 4px 0 0 18px;
  margin-left: 8px;
}

.post-event {
  background:url(../images/article/icon-category.png) no-repeat 9px 5px;
  padding: 2px 0 0 26px;
}

/* blog.html css end*/

/* foundation.html css starts */

.divider-line {
 border-bottom: 1px solid #ddd;
}

.img-height {
  height: 200px;
}

.line-height {
  line-height: 35px;
}

.tryton-companies {
  /*csslint box-model:false */
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  padding: 15px;
  height: 453px;
}

.tryton-companies:hover {
  box-shadow: 0 0 10px #0066CC;
}

.divider-blue {
  border-bottom: 2px solid #2283bc;
}

.partner-desc {
  margin-bottom: 20px;
}

.nano { 
  height: 123px; 
}

.nano .nano-content { 
  padding: 10px; 
}

.nano .nano-pane   { 
  background: #888;
}

.nano .nano-slider { 
  background: #111;
}

.tryton-companies .content {
  height: 50%;
}  

.tryton-companies .address {
  height: 39%;
}    
/* foundation.html css end*/

/* pagination.html css starts */
.pagination-text {
  margin-top: 30px;
  border-radius: 30px;
}

.pagination-text:hover {
  background-color:#428bca;
  color:white;
}

/* pagination.html css end*/

/* download.html css starts */
.download-icon i {
  width: 70px;
  background-color: #fff;
  border-radius: 90px;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 40px;
  color: #60a839;
  margin-left: 15px;
}

.tryton-interface {
  margin-top: 10px;
}

.os-name {
  margin-bottom: 15px;
}

.linux-sub-os, .win-old, .mac-old {
  display: inline;
}

.os-info .nano {
  height: 160px;
}

.tryton-img {
  position:absolute;
  left:0;
  bottom:0;
  right:0;
}

.tryton-img img {
  box-shadow: -4px -8px 44px -7px #888888;
}

.nav-pills > li.active > .linux-os {
  background-color: transparent;
  color:#727272;
}
.nav-pills > li.active:hover .linux-os {
  background-color: #e3e3e3;
  color:#727272;
}

.tryton-img img {
  margin-top: 10px;
}

.tab-heading {
  display: inline-block;
}

.download-banner {
  min-height: 620px;
  padding: 28px 0;
}

.well .row {
  line-height: 60px;
}

.center-logo {
line-height: 70px;
}

.os-logo {
  height: 62px;
}

.common-color {
  color: #1ac6ff;
}

.common-background {
  background-color: #1ac6ff;
}

.older-version:hover {
  color: #fff;
  background-color: #07ADE4;
}

.older-version a:hover {
  color: #fff;
}

.common-link:hover {
  color: #07ADE4;
}

.latest-version {
  border:1px solid #fff;
  background-color: transparent;
  color: #fff;
}

.latest-version:hover {
  color: #fff;
  background-color: #1ac6ff;
  border-color:#1ac6ff; 
}
/* download.html css end */

.tryton-rss {
  padding: 18px 40px 18px 0;
  border-top: 1px solid #CFE3DC;
}

.color-black {
  color: #1d1d1d;
}

.mailing-list {
  color: #1ac6ff;
  font-weight: 200;
}

.mailing-list:hover {
  color: #07ADE4;
}

.grid-spaces {
  padding-bottom: 35px;
}

.social-desc {
  padding-top: 38px;
}

.social-background {
  background-color: #f9f9f9;
}

.irc-detail {
  background-color: #1ac6ff;
  border-color: #1ac6ff; 
}

.irc-detail:hover {
  color: white;
  background-color: #07ADE4;
  border-color: #07ADE4;
}

.language-list {
  list-style-type: circle;
}

.language-list a:hover {
  color: #1ac6ff;
}

.breadcrumb-background > li + li:before {
  color: #1d1d1d;
}

.breadcrumb-background > li > .color-black:hover {
  color: #1ac6ff;
}

.background-transparent {
  background-color: transparent;;
}

.border-left {
  border-left: 1px solid #69747a;
}

.social-icons {
  height: 50px;
  width: 50px;
  background-color: #777;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
  font-size:20px;
  color: white;
}

.social-box {
  line-height: 50px;
}

.social-icons:hover {
  opacity: 0.9;
  background-color: #1ac6ff;
}

.footer-divider:after {
  content: "";
  border-bottom: 1px solid #69747a;
  width: 100%;
  padding-top: 40px;
  margin-bottom: 40px;
}

.footer-heading {
  font-size: 30px;
  color: #fff;
  margin-bottom: 14px;
  margin-top: 20px;
}